body {
  font-family: Arial, sans-serif;
}

/* Estilo logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

/* Estilo para o container principal */

.container-tables {
  background-color: #fff3c4;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.container-tables h2,h3,h4 {
  text-align: center;
  color: #2c2c2c;
  font-weight: bold;
  margin-bottom: 20px;
}

input.form-control,
select.form-select {
  background-color: #ffe58a;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  color: #333;
}

input.form-control::placeholder,
select.form-select option {
  color: #666;
}

.table {
  border-radius: 12px;
  overflow: hidden;
}

.table th {
  background-color: transparent;
  color: #333;
  font-weight: bold;
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
}

.pagination {
  justify-content: center;
}

/* Botão de Ações personalizado */
.dropdown .btn {
  background-color: #ffe58a;
  border: none;
  color: #333;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: 500;
}

.dropdown-menu {
  min-width: 120px;
}

.dropdown-item {
  color: #333;
}

.dropdown-item:hover {
  background-color: #fff0a6;
}

#tabelas-admin {
  text-align: center;
}

/* Ícones da ordenação */
th i.fas.fa-sort {
  margin-left: 6px;
  color: #888;
  cursor: pointer;
}

/* Estilo para a barra lateral */

.side-nav {
  background: #cfdde9;
  padding: 2rem;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 220px;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.side-nav ul {
  position: relative;
  height: 100vh;
  padding-bottom: 20px;
}

.side-nav ul li {
  margin-bottom: 30px;
}

.side-nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 1.1em;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  display: block;
  transition: background 0.3s ease, color 0.3s ease;
}

.side-nav ul li a.active,
.side-nav ul li a:hover {
  color: #fff;
  background: #007bff;
}

/* linha de separação antes das configurações */
.side-nav ul hr {
  border: none;
  border-top: 1px solid #999;
  margin-bottom: 30px;
  margin-top: auto;
}


/* Responsivo para o mobile */
@media (max-width: 767px) {
  .side-nav {
    position: relative;
    width: 100%;
    padding: 1rem;
    bottom: auto;
  }

  .side-nav ul {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    align-items: center;
    padding-bottom: 1rem;
    height: auto;
  }

  .side-nav ul li {
    margin-bottom: 0;
    flex: 0 0 auto;
  }
}

/* Quando colapsado */
.side-nav.collapsed {
  transform: translateX(-220px);
}

/* Botão para exibir o side-nav */
#toggleBtn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
}

/* Quando o side-nav é colapsado, o conteúdo principal se ajusta */
.row.collapsed-content {
  margin-left: 0;
}

.row.collapsed-content {
  margin-left: 0px;
}